.bg {
  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    height: 613px;
}

.video_mobile{
  top: 9rem;
  width: 100%;
  object-fit: contain;
  overflow-clip-margin: content-box;
  overflow: clip;
  z-index: 0;
  position: absolute;
}

.video{
  display: none;
}
.copy{
    width: 100%;
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    z-index: 1;
    color: #fff;
    margin-bottom: 30rem;
}

.copy h1{
  font-size: 4.2rem;
  font-weight: 900;
  line-height: 3.5rem;
  margin-bottom: 1rem;
}

.copy p{
  font-size: 2rem;
}

.subtitle{
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.categories{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.categories > a > img{
  width: 100%;
  height: 16rem;
  object-fit: contain;
}

.categories > div{
  text-align: center;
}

.categories >  a h3{
  margin-top: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
}

.images{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}

.section_social{
  padding-inline: 2rem;
  margin-block: 4rem;
}

.section_social p{
  text-align: center;
}

.products{
  margin-top: 4rem;
}

@media screen and (min-width: 768px) {
  .video{
    display: inline-flex;
    width: 100%;
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
  } 

  .video_mobile{
    display: none;
  }

  .categories{
    display: flex;
  }

  .copy{
    position: absolute;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .copy h1{
  font-size: 10rem;
  margin-bottom: 4rem;
}

.copy p{
  font-size: 4rem;
}

.bg{
  height: auto;
}
}