.container{
  width: min(90%, 120rem);
  margin-inline: auto;
  min-height: 40rem;
  padding-top: 2rem;
}

.container p{
  margin-bottom: 1rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.container p a{
  color: #e91c47;
  font-weight: 500;
}