.header{
  padding: 1rem 1.5rem;
  font-size: 1.4rem;
  background-color: #e91c47;
  margin-inline: auto;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: min(90%, 120rem);
  margin-inline: auto;
}

.container p{
  text-align: center;
  font-weight: 600;
  color: #fff;
  font-size: 1.3rem;
}